# Global .gitignore

## Dirs
node_modules
tmp
temp

## Generic
*~
*.lock
*.DS_Store
*.swp

## DB
db/database

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

## Logging
*.log

## Java
*.class

## Python
*.pyc

## Ruby
Gemfile.lock

## NodeJS Specific
.migrate
npm-debug.log

## Misc
.sass-cache

## Sublime
*.sublime-project
*.sublime-workspace

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

## Intellij
.idea
.idea_modules
.classpath
.project
project/target
project/project

## Conf and Security
conf/application.conf
conf/auth.conf

## Vagrant
.vagrant/*
vagrant-boxes/base-boxes

## Backups
projectFilesBackup/*

